In [1]:
import lsdb

In [5]:
lsdb.read_hats("small_sky_order1_nested_sources")

Dask NestedFrame Structure:
                                 id               ra              dec        ra_error       dec_error                                                                                                                                                         sources
npartitions=4
3170534137668829184  int64[pyarrow]  double[pyarrow]  double[pyarrow]  int64[pyarrow]  int64[pyarrow]  nested<source_id: [int64], source_ra: [double], source_dec: [double], mjd: [double], mag: [double], band: [string], object_ra: [double], object_dec: [double]>
3242591731706757120             ...              ...              ...             ...             ...                                                                                                                                                             ...
3314649325744685056             ...              ...              ...             ...             ...                                                                                                                                                             ...
3386706919782612992             ...              ...              ...             ...             ...                                                                                                                                                             ...
3458764513820540928             ...              ...              ...             ...             ...                                                                                                                                                             ...
Dask Name: nestedframe, 3 expressions
Expr=MapPartitions(NestedFrame)

In [3]:
cat[["ra", "dec", "sources.source_ra", "sources.source_id"]]

Dask NestedFrame Structure:
                                  ra              dec                                          sources
npartitions=4
3170534137668829184  double[pyarrow]  double[pyarrow]  nested<source_id: [int64], source_ra: [double]>
3242591731706757120              ...              ...                                              ...
3314649325744685056              ...              ...                                              ...
3386706919782612992              ...              ...                                              ...
3458764513820540928              ...              ...                                              ...
Dask Name: getitem, 4 expressions
Expr=MapPartitions(NestedFrame)[['ra', 'dec', 'sources.source_ra', 'sources.source_id']]

In [4]:
lsdb.read_hats("small_sky_order1_nested_sources", columns=["ra", "dec", "sources.source_ra", "sources.source_id"])

Dask NestedFrame Structure:
                                  ra              dec                                          sources
npartitions=4
3170534137668829184  double[pyarrow]  double[pyarrow]  nested<source_ra: [double], source_id: [int64]>
3242591731706757120              ...              ...                                              ...
3314649325744685056              ...              ...                                              ...
3386706919782612992              ...              ...                                              ...
3458764513820540928              ...              ...                                              ...
Dask Name: nestedframe, 3 expressions
Expr=MapPartitions(NestedFrame)

In [6]:
cat[["ra", "dec", "sources.source_ra", "sources.source_id"]].compute()

                        ra   dec  \
_healpix_29
3187422220182231470  308.5 -69.5
3187796123455121090  320.5 -69.5
...                    ...   ...
3400255793565258227  314.5 -29.5
3424180623569024089  307.5 -25.5

                                                               sources
_healpix_29
3187422220182231470  [{source_id: 74859, source_ra: 308.584555}; …]...
3187796123455121090  [{source_id: 79856, source_ra: 320.518757}; …]...
...                                                                ...
3400255793565258227  [{source_id: 76337, source_ra: 314.926738}; …]...
3424180623569024089  [{source_id: 76540, source_ra: 307.810445}; …]...

[131 rows x 3 columns]