In [1]:
%pip install git+https://github.com/lincc-frameworks/nested-pandas

Collecting git+https://github.com/lincc-frameworks/nested-pandas
  Cloning https://github.com/lincc-frameworks/nested-pandas to /private/var/folders/w1/lh3h4s7d5g10rdlfj4h0mshw0000gn/T/pip-req-build-62dmw996
  Running command git clone --filter=blob:none --quiet https://github.com/lincc-frameworks/nested-pandas /private/var/folders/w1/lh3h4s7d5g10rdlfj4h0mshw0000gn/T/pip-req-build-62dmw996
  Resolved https://github.com/lincc-frameworks/nested-pandas to commit 44e986d771a36095edb3cf48d27985e43c3df0df
  Installing build dependencies ... one
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy>=2 in /Users/hombit/.virtualenvs/v/lib/python3.13/site-packages (from nested-pandas==0.3.8.dev11+g44e986d) (2.2.2)
Requirement already satisfied: pandas<2.3,>=2.2 in /Users/hombit/.virtualenvs/v/lib/python3.13/site-packages (from nested-pandas==0.3.8.dev11+g44e986d) (2.2.3)
Requirement already satisfied: pyarrow>=15 in /Users/hombit/.virtualenvs/v/lib/python3.13/site-packages (from nested-pandas==0.3.8.dev11+g44e986d) (19.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hombit/.virtualenvs/v/lib/python3.13/site-packages (from pandas<2.3,>=2.2->nested-pandas==0.3.8.dev11+g44e986d) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/hombit/.virtualenvs/v/lib/python3.13/site-packages (from pandas<2.3,>=2.2->nested-pandas==0.3.8.dev11+g44e986d) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/hombit/.virtualenvs/v/lib/python3.13/site-packages (from pandas<2.3,>=2.2->nested-pandas==0.3.8.dev11+g44e986d) (2025.1)
Requirement already satisfied: six>=1.5 in /Users/hombit/.virtualenvs/v/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas<2.3,>=2.2->nested-pandas==0.3.8.dev11+g44e986d) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from nested_pandas.datasets import generate_data

In [3]:
nf = generate_data(4, 20)
nf

          a         b                                             nested
0  0.510688  0.482175  [{t: 15.35585, flux: 88.474703, band: 'g'}; …]...
1  0.031185  1.872270  [{t: 15.184632, flux: 6.089126, band: 'r'}; …]...
2  0.623076  1.623309  [{t: 7.384464, flux: 44.922502, band: 'g'}; …]...
3  0.480633  1.653362  [{t: 0.08481, flux: 53.423633, band: 'r'}; …] ...

In [4]:
# This was possible before
nf["nested.dt"] = nf["nested.t"] - nf["nested.t"].mean()
nf

          a         b                                             nested
0  0.510688  0.482175  [{t: 15.35585, flux: 88.474703, band: 'g', dt:...
1  0.031185  1.872270  [{t: 15.184632, flux: 6.089126, band: 'r', dt:...
2  0.623076  1.623309  [{t: 7.384464, flux: 44.922502, band: 'g', dt:...
3  0.480633  1.653362  [{t: 0.08481, flux: 53.423633, band: 'r', dt: ...

In [5]:
# This was not
nf["nested.a"] = nf["a"]
display(nf)
display(nf["nested.a"])

          a         b                                             nested
0  0.510688  0.482175  [{t: 15.35585, flux: 88.474703, band: 'g', dt:...
1  0.031185  1.872270  [{t: 15.184632, flux: 6.089126, band: 'r', dt:...
2  0.623076  1.623309  [{t: 7.384464, flux: 44.922502, band: 'g', dt:...
3  0.480633  1.653362  [{t: 0.08481, flux: 53.423633, band: 'r', dt: ...

0    0.510688
0    0.510688
       ...
3    0.480633
3    0.480633
Name: a, Length: 80, dtype: double[pyarrow]