In [26]:
import nested_pandas as npd
import nested_dask as nd

import pandas as pd
pd.set_option("display.max_rows",50)
pd.set_option("display.min_rows", 30)

# Demo: Nesting Sorting

## Nested-Pandas (Added in v0.3.7)

In [27]:
# Generate some toy data
ndf = npd.datasets.generate_data(5,30)
ndf

          a         b                                             nested
0  0.114355  0.137179  [{t: 9.875138, flux: 26.097872, band: 'r'}; …]...
1  0.903920  1.424788  [{t: 8.299004, flux: 65.554406, band: 'g'}; …]...
2  0.089598  1.212691  [{t: 18.070899, flux: 17.187768, band: 'g'}; …...
3  0.206751  0.854339  [{t: 6.91659, flux: 15.597, band: 'g'}; …] (30...
4  0.016595  1.580254  [{t: 16.753018, flux: 81.20919, band: 'g'}; …]...

In [28]:
ndf.sort_values?

Signature:
ndf.sort_values(
    by,
    *,
    axis=0,
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last',
    ignore_index=False,
    key=None,
)
Docstring:
Sort by the values along either axis.

Parameters:
-----------
by : str or list of str
    Name or list of names to sort by.

    Access nested columns using `nested_df.nested_col` (where
    `nested_df` refers to a particular nested dataframe and
    `nested_col` is a column of that nested dataframe).
axis : {0 or 'index', 1 or 'columns'}, default 0
    Axis to be sorted.
ascending : bool or list of bool, default True
    Sort ascending vs. descending. Specify list for multiple sort
    orders. If this is a list of bools, must match the length of the
    by.
inplace : bool, default False
    If True, perform operation in-place.
kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
    Choice of sorting algorithm. See also ndarray.np.sort for more
    information. mergesort is the only stable algorithm. For DataFrames,
    this option is only applied when sorting on a single column or label.
na_position : {'first', 'last'}, default 'last'
    Puts NaNs at the beginning if first; last puts NaNs at the end.
ignore_index : bool, default False
    If True, the resulting axis will be labeled 0, 1, …, n - 1.
    Always False when applied to nested layers.
key : callable, optional
    Apply the key function to the values before sorting.

Returns:
--------
DataFrame or None
    DataFrame with sorted values if inplace=False, None otherwise.
File:      ~/lincc/nested-pandas/src/nested_pandas/nestedframe/core.py
Type:      method

In [29]:
# Normal sort_values behavior
ndf.sort_values(by="a", ascending=False)

          a         b                                             nested
1  0.903920  1.424788  [{t: 8.299004, flux: 65.554406, band: 'g'}; …]...
3  0.206751  0.854339  [{t: 6.91659, flux: 15.597, band: 'g'}; …] (30...
0  0.114355  0.137179  [{t: 9.875138, flux: 26.097872, band: 'r'}; …]...
2  0.089598  1.212691  [{t: 18.070899, flux: 17.187768, band: 'g'}; …...
4  0.016595  1.580254  [{t: 16.753018, flux: 81.20919, band: 'g'}; …]...

In [30]:
# Applying to Nested Layers works as you'd expect
ndf_band_sorted = ndf.sort_values(by=["nested.band"])
ndf_band_sorted

          a         b                                             nested
0  0.114355  0.137179  [{t: 14.587066, flux: 63.008244, band: 'g'}; …...
1  0.903920  1.424788  [{t: 8.299004, flux: 65.554406, band: 'g'}; …]...
2  0.089598  1.212691  [{t: 18.070899, flux: 17.187768, band: 'g'}; …...
3  0.206751  0.854339  [{t: 6.91659, flux: 15.597, band: 'g'}; …] (30...
4  0.016595  1.580254  [{t: 16.753018, flux: 81.20919, band: 'g'}; …]...

In [31]:
ndf_band_sorted.iloc[0]["nested"]

            t       flux band
0   14.587066  63.008244    g
1   15.248447  67.737190    g
2   18.816124  34.273528    g
3    9.210849  58.650069    g
4    5.289554  53.052840    g
5    4.460039  22.065876    g
6    8.314931  69.786579    g
7   16.973218  90.731274    g
8    5.505188  59.433040    g
9   11.881364  35.789070    g
10  14.609210  14.687435    g
11   7.543190  84.945443    g
12  18.205257  15.557495    g
13   9.129044   6.752663    g
14   9.875138  26.097872    r
15   9.308188  98.111622    r
16  10.309648  37.745249    r
17  16.692121  67.137659    r
18  18.577956  49.040447    r
19  12.926153  40.587341    r
20  17.917923  94.114789    r
21  17.727869   3.999025    r
22  12.092978  20.571449    r
23  10.976606  91.185295    r
24   2.847898  46.670684    r
25   5.352632  11.454159    r
26   1.423173   7.938365    r
27  13.235462  32.290111    r
28  14.163815  86.131990    r
29   5.516628  50.018262    r

In [32]:
# Some cool things like multi-tiered sorting

ndf_band_msorted = ndf.sort_values(by=["nested.band", "nested.t"])
ndf_band_msorted

          a         b                                             nested
0  0.114355  0.137179  [{t: 4.460039, flux: 22.065876, band: 'g'}; …]...
1  0.903920  1.424788  [{t: 1.226137, flux: 90.994865, band: 'g'}; …]...
2  0.089598  1.212691  [{t: 0.741701, flux: 24.613678, band: 'g'}; …]...
3  0.206751  0.854339  [{t: 0.337063, flux: 7.758205, band: 'g'}; …] ...
4  0.016595  1.580254  [{t: 1.506141, flux: 80.415389, band: 'g'}; …]...

In [33]:
ndf_band_msorted.iloc[0]["nested"]

            t       flux band
0    4.460039  22.065876    g
1    5.289554  53.052840    g
2    5.505188  59.433040    g
3    7.543190  84.945443    g
4    8.314931  69.786579    g
5    9.129044   6.752663    g
6    9.210849  58.650069    g
7   11.881364  35.789070    g
8   14.587066  63.008244    g
9   14.609210  14.687435    g
10  15.248447  67.737190    g
11  16.973218  90.731274    g
12  18.205257  15.557495    g
13  18.816124  34.273528    g
14   1.423173   7.938365    r
15   2.847898  46.670684    r
16   5.352632  11.454159    r
17   5.516628  50.018262    r
18   9.308188  98.111622    r
19   9.875138  26.097872    r
20  10.309648  37.745249    r
21  10.976606  91.185295    r
22  12.092978  20.571449    r
23  12.926153  40.587341    r
24  13.235462  32.290111    r
25  14.163815  86.131990    r
26  16.692121  67.137659    r
27  17.727869   3.999025    r
28  17.917923  94.114789    r
29  18.577956  49.040447    r

## Nested-Dask (On Main, but not part of a release yet)

In [35]:
ndd = nd.datasets.generate_data(100,50, npartitions=5)
ndd

Dask NestedFrame Structure:
                     a        b                                               nested
npartitions=5
0              float64  float64  nested<t: [double], flux: [double], band: [string]>
19                 ...      ...                                                  ...
...                ...      ...                                                  ...
79                 ...      ...                                                  ...
99                 ...      ...                                                  ...
Dask Name: repartition, 3 expressions
Expr=Repartition(frame=MapPartitions(NestedFrame), new_partitions=5)

In [39]:
ndd.sort_values?

Signature:
ndd.sort_values(
    by: 'str | list[str]',
    npartitions: 'int | None' = None,
    ascending: 'bool | list[bool]' = True,
    na_position: "Literal['first'] | Literal['last']" = 'last',
    partition_size: 'float' = 128000000.0,
    sort_function: 'Callable[[pd.DataFrame], pd.DataFrame] | None' = None,
    sort_function_kwargs: 'Mapping[str, Any] | None' = None,
    upsample: 'float' = 1.0,
    ignore_index: 'bool | None' = False,
    shuffle_method: 'str | None' = None,
    **options,
) -> 'Self'
Docstring:
Sort the dataset by a single column.

Sorting a parallel dataset requires expensive shuffles and is generally
not recommended. See ‘set_index‘ for implementation details.

Parameters:
-----------
by: str or list[str]
    Column(s) to sort by.
npartitions: int, None, or ‘auto’
    The ideal number of output partitions. If None, use the same as the
    input. If ‘auto’ then decide by memory use. Not used when sorting
    nested layers.
ascending: bool or list[bool], optional
    Sort ascending vs. descending. Defaults to True. Specify list for
    multiple sort orders. If this is a list of bools, must match the
    length of the by.
na_position: {‘last’, ‘first’}, optional
    Puts NaNs at the beginning if ‘first’, puts NaN at the end if
    ‘last’. Defaults to ‘last’.
partition_size: float, optional
    The desired size of each partition in bytes. Defaults to 128e6
    (128 MB). Not used in nested sorting.
sort_function: function, optional
    Sorting function to use when sorting underlying partitions. If
    None, defaults to M.sort_values (the partition library’s
    implementation of sort_values). Not used when sorting nested
    layers.
sort_function_kwargs: dict, optional
    Additional keyword arguments to pass to the partition sorting
    function. By default, by, ascending, and na_position are provided.
upsample: float, optional
    Used to increase the number of samples for quantiles. Not used
    in nested sorting
ignore_index: bool, optional
    If True, the resulting axis will be labeled 0, 1, …, n - 1.
    Defaults to False.
shuffle_method: str, optional
    The method to use for shuffling data. Defaults to None. Not used
    in nested sorting
**options: keyword arguments, optional
    Additional options to pass to the sorting function.
Returns:
--------
DataFrame
    DataFrame with sorted values.
File:      ~/lincc/nested-dask/src/nested_dask/core.py
Type:      method

In [36]:
# Normal Behavior
ndd.sort_values(by="a") # sorts are a bigger deal in dask, we lose divisions obviously!

Dask NestedFrame Structure:
                     a        b                                               nested
npartitions=5
               float64  float64  nested<t: [double], flux: [double], band: [string]>
                   ...      ...                                                  ...
...                ...      ...                                                  ...
                   ...      ...                                                  ...
                   ...      ...                                                  ...
Dask Name: sortvalues, 4 expressions
Expr=SortValues(frame=Repartition(frame=MapPartitions(NestedFrame), new_partitions=5), by=['a'], options={})

In [40]:
# Nested-Dask
sorted_ndd = ndd.sort_values(by=["nested.band"])
sorted_ndd # nested sorting is a contained problem, so divisions are preserved

Dask NestedFrame Structure:
                     a        b                                               nested
npartitions=5
0              float64  float64  nested<t: [double], flux: [double], band: [string]>
19                 ...      ...                                                  ...
...                ...      ...                                                  ...
79                 ...      ...                                                  ...
99                 ...      ...                                                  ...
Dask Name: lambda, 4 expressions
Expr=MapPartitions(lambda)

In [43]:
sorted_ndd.head(5)

          a         b                                             nested
0  0.305511  0.944361  [{t: 6.114736, flux: 50.629628, band: 'g'}; …]...
1  0.219706  0.961024  [{t: 14.205805, flux: 88.470556, band: 'g'}; …...
2  0.218562  1.355492  [{t: 18.330918, flux: 73.727252, band: 'g'}; …...
3  0.108835  0.403051  [{t: 3.722031, flux: 49.962361, band: 'g'}; …]...
4  0.155362  0.957457  [{t: 15.986165, flux: 91.046524, band: 'g'}; …...

In [45]:
sorted_ndd.head(5).iloc[0]["nested"]

            t       flux band
0    6.114736  50.629628    g
1    2.156428  53.780547    g
2    7.904119  66.936779    g
3   14.842941  64.879760    g
4   15.485335  95.952621    g
5   10.173686  11.318522    g
6    5.058954  17.077066    g
7    2.712115  56.136876    g
8   18.712253  98.401400    g
9   10.375804  89.216397    g
10   8.368801  94.291548    g
11  12.332165  74.538706    g
12  16.642274  72.431127    g
13   8.488843  67.020312    g
14  14.770506  84.655797    g
15   3.707660  69.272406    g
16   1.710665  83.765473    g
17  14.968916  12.056389    g
18   4.021015  95.493671    g
19   2.197093  89.344983    g
20   5.892654   5.187349    g
21  12.529009  77.359303    g
22   0.183438  64.215525    g
23  12.718687  79.026440    g
24  16.056151  79.612217    g
25  17.838475  33.075707    g
26  14.457566  23.274873    g
27  12.807336  95.976808    g
28   2.330001  24.686101    r
29  10.767552  48.425183    r
30   6.439543  17.091269    r
31   2.604670  35.082917    r
32  16.855445  36.036649    r
33   8.170210   5.973811    r
34  10.716401  40.556786    r
35  14.822244  58.710592    r
36   1.733848  10.035539    r
37   6.641740  41.576096    r
38  17.488283  23.150351    r
39  17.213045  57.518150    r
40   8.898836  55.787793    r
41   2.422457  78.476736    r
42   9.766258  89.288555    r
43   9.487695  10.220684    r
44   2.929967  45.713665    r
45  15.908596  74.564395    r
46   9.958954  88.392541    r
47  18.057166  16.194406    r
48   8.806381  51.404840    r
49   5.788749  92.883102    r